<div class = "logo">
  <img src="/images/logo.png" width=11% alt="logo">
</div>
<form action="/auth/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="">Name:</label>
  <input type="text" name="name">
  
  <label for="">Password:</label>
  <input type="password" name="password">
  
  <button type="submit">LOGIN</button>
</form>
<div>
  <p>Don't have an account? <a href="signup">Sign Up</a></p>
</div>

<a href="/auth/profile"> Update your profile</a>