<header>
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="../">
      <img src="/images/logo.png" width="100" height="120" alt="logo">
    </a>
    <h4>Discover the chef or the host in you at CoMeal! </h4>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/events">EVENTS</a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link active" href="/auth/login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/signup">SIGN UP</a>
      </li>
    </ul>
  </nav>
</header>

<div class="bg-about">
  <div class="container">
    <div class="bg-abt">
      <div class="container-abt"> 
        <h1>What is CoMeal?</h1>
          <p>CoMeal is an innovative concept, focus on sharing the experience of cooking together, enjoying the meal that you will create and all powered by local hosts. Whether you are an aspiring amateur chef,  someone who has never fried an egg, a wine guy or just want to host an event in collab platform.</p>
        <h1> Why cooking together?</h1>
          <p>Cooking together and sharing a meal is a bound experience and food on the table brings persons together.</p> 
        <h1>Purpose?</h1>
          <ul>
            <li>Meet make friends</li>
            <li>Network</li>
            <li>Enjoy food</li>
            <li>Collaboration</li>
          </ul>
      </div>
    </div>
  <div>
</div>



