<form action="/events/create-event" method="POST" id="form">
  <h1>Let's cook!</h1>
  <label for="">Title:</label>
  <input type="text" name="title">
  
  <label for="">Date:</label>
  <input type="date" name="date">
  
  <label for="">Capacity:</label>
  <input type="number" name="capacity">
  
  <label for="">Place:</label>
  <input type="text" name="place">

  
  <label for="">Contact</label>
  <input type="number" name="contacts">

  <label for="">Description:</label>
  <input type="text" name="recipe">
  
  <label for="">Comment:</label>
  <input type="datetime" name="comment">

  <button type="submit">Create Your Event!</button>
</form>