<div class = "logo">
  <img src="/images/logo.png" width=11% alt="logo">
</div>
<div class ="form">
<form action="/events/create-event" method="POST" id="form">
  <h1>Let's cook!</h1> <br/>
  <label for="">Title:</label><br/>
  <input type="text" name="title">
  
  <label for="">Date:</label><br/>
  <input type="date" name="date">
  
  <label for="">Capacity:</label><br/>
  <input type="number" name="capacity">
  
  <label for="">Place:</label><br/>
  <input type="text" name="place">
  
  <label for="">Contact</label><br/>
  <input type="number" name="contacts">
  <label for="">Recipe:</label>
 
  <select name="recipe" id="recipeSelect" class="custom-select"><br/>
    <option selected>Choose a recipe to cook</option>
    {{#each recipes}}
      <option value="{{this.title}}">{{this.title}}</option>
    {{/each}}
  </select>
  
  <label for="">Comment:</label><br/>
  <input type="datetime" name="comment">
  <button type="submit">Create Your Event!</button>

  </div>