<h1>EVENT LIST</h1>
  <h1>Choose an Co Meal that you want to go!</h1> 
  <p> 
         {{events}}
               {{#each events}}
          {{!-- {{this.title}} --}}
          {{!-- {{this.date}}
          {{this.capacity}} --}}


          {{/each}}  

          </p>