<header>
  <div class="logotipe">
    <img src="/images/logo.png" width="120" height="145" alt="logo"/>
  </div>
  <div>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Sign Up</a>
  </div>
</header>
    <p>Welcome to {{title}}</p>
<div class="search">
  <input type="text" placeholder="Search..">
  <a href="/search">Search</a>
</div>
<div>
  <h2>Future Events</h2>

  <a href="/events/create-event">create an event</a>
</div>
<div>
  <h2>Past Events</h2>
</div>
  </body>
</html>





