body {
  margin: 0git;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff; }

a {
  color: #00b7ff; }

/*NAVBAR*/
.nav-link {
  font-size: x-large; }

.nav h2, h1 {
  padding: 0 15px 0 15px; }

.navbar {
  box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.2); }

/*INDEX*/
.index-title a {
  text-decoration: none; }

.bg-index {
  background-image: url(../images/cover_event.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover; }

.bg-about {
  background-image: url(../images/aboutcover.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover; }

.container {
  padding: 80px 0;
  text-align: center; }

.bg-form {
  background-color: rgba(230, 230, 230, 0.6);
  padding: 50px; }

.search-form {
  padding: 50px 0; }

.search {
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  margin-top: 0;
  padding: 5px;
  padding-left: 26px;
  float: none;
  width: 100%;
  height: 50px;
  font-size: 23px;
  line-height: normal;
  background: #eee;
  display: flex;
  flex-grow: 1; }

.btn {
  padding: 0.700rem 0.75rem; }

.btn-outline-success {
  color: #fff;
  background-color: #28a745;
  font-weight: bold; }

/*CREATE EVENT*/
.profile {
  margin-top: 10;
  float: none;
  display: flex;
  flex-grow: 1;
  padding-left: 300px; }

.logo {
  padding-left: 10px;
  padding-top: 10px; }

/*LOGIN & SIGNUP*/
.bg-log-signup {
  background-image: url(../images/kitchen.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 50px; }

.bg-log-signup h2 {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  color: #113c2b; }

.bg-log-signup h1 {
  text-align: center;
  color: #113c2b;
  margin-top: -25px;
  padding-bottom: 25px; }

.bg-signup {
  height: unset; }

.bg-signup h3 {
  text-align: center; }

.title-preferences {
  padding-top: 15px; }

.container-log-sign {
  background-color: white;
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  border-radius: 5px; }

.signup-container {
  width: 50%; }

.form-options {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.event {
  width: 50%; }

.box-login {
  width: -webkit-fill-available;
  padding: 25px; }

.style-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-weight: bold; }

.style-btn {
  width: -webkit-fill-available;
  color: white;
  background-color: #009a3d;
  font-weight: bold;
  margin: 0 18px; }

.btn-signup {
  margin: unset; }

.style-container {
  padding: 45px; }

.upload-pic {
  padding: 5px 0 20px 0; }

input:required + .help-text::before {
  content: '*Required';
  font-weight: normal;
  font-size: small; }

#required-name, #required-pw, .style-btn {
  border-radius: 4px;
  height: 38px;
  border: 1px solid #cccccc; }

.link-signup {
  background-color: #d9d9d9;
  color: #009a3d;
  height: 65px;
  border-radius: 0 0 5px 5px;
  display: flex;
  align-items: center;
  border-top: 1px solid #eeeeee; }

p {
  padding-left: 20px;
  margin-bottom: 0; }

.event-pic {
  width: 100px;
  height: auto; }

/*EVENTS*/
.ctn-wrap {
  display: flex;
  flex-wrap: wrap; }

.ctn-card {
  display: flex;
  flex-direction: column;
  padding: 0 29px 65px; }

.bg-event {
  background-image: url(../images/kitchen.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.bg-event h1 {
  padding: 50px 80px 0; }

.card-img-top {
  max-height: 250px;
  width: unset; }

/*PROFILE*/
.user-pic img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  display: flex; }

.profile-ctn {
  width: 60%;
  padding: 55px; }

.flex-profile {
  display: flex; }

.style-form p {
  padding: 10px 0; }

.pref-container h3 {
  padding-top: 30px; }

.quote-ctn {
  margin-bottom: 20px; }

.box-login i {
  font-size: 20px; }

.pref-container {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 40px 0 40px; }

.aj-ctn {
  padding: 60px; }

/*EVENT-SHOW*/
.card-event-det {
  display: flex;
  margin: 10px 25%;
  background-color: white; }

.card-event-det img {
  width: 50%; }

.event-ctn-det {
  background-image: linear-gradient(white, #f2f2f2); }

.bkg-card {
  box-shadow: 0 2px 3px 0 rgba(51, 51, 51, 0.2);
  padding: 50px 0; }

.ctn-details {
  width: 50%; }

.ctn-details h2 {
  font-weight: bold;
  font-size: 45px;
  color: #113c2b;
  padding-left: 20px; }

.card-text {
  padding: 20px 25%; }

.card-text p {
  height: 400px; }

.btn-padd {
  padding: 10px 20px; }

/*# sourceMappingURL=style.css.map */